[submodule "packages/graphql-path"]
	path = packages/graphql-path
	url = https://github.com/brysgo/graphql-path
[submodule "packages/monoquery"]
	path = packages/monoquery
	url = git@github.com:brysgo/monoquery.git
[submodule "packages/angular-monoquery"]
	path = packages/angular-monoquery
	url = git@github.com:brysgo/angular-monoquery.git
